<!--branding-->
<div class="branding">
  <div class="container">

    <a class="grid-org-name" href="/">
      <span class="org-name-state">
        State of California
      </span>
  
      <span class="org-name-dept">
        11ty Starter Kit
      </span>
    </a>
  </div>
</div>
<!--end branding-->