<cagov-navoverlay>
  <div class="container">
    <nav class="expanded-menu" role="navigation" aria-label="Site Navigation" aria-hidden="false" id="main-menu">
      Add your menu links here.
    </nav>
  </div>
</cagov-navoverlay>